body {
  font-family: 'Inter', sans-serif;
  width: 100%;
}

.main {
  padding: 8em 4em;
  margin: 0 auto;
  max-width: 37em;

  hr {
    border: 0;
    height: 1px;
    background: #515151;
    margin-top: 2em;
    margin-bottom: 2em;
  }

  a {
    text-decoration-color: #ffffff;
    color: #ffffff;
  }

  .header {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 2em;
  }

  p {
    line-height: 1.65;
    font-size: .85em;
    margin-top: 1.25em;
  }

  h2, h3, h4, h5, h6 {
    margin-top: 2em;
    margin-bottom: 1em;
  }

  h2 {
    font-size: 1.3em;
    font-weight: 700;
  }

  h3 {
    font-size: 1.1em;
  }

  h4, h5, h6 {
    font-size: 0.85em;
  }

  ul, ol {
    font-size: 0.85em;
    margin-top: 1.25em;
    margin-left: 2em;
  }

  li {
    margin-bottom: 0.5em;
  }

  .scenario {
    font-size: 0.8em;
    margin-top: 1em;
    margin-left: 1em;
    border-left: 3px solid #ccc;
    padding-left: 0.5em;
  }
}

/* Dark Theme Styles */
body.dark {
  background-color: #000000;
  color: #ffffff;
}

/* Light Theme Styles */
body.light {
  background-color: #ffffff;
  color: #000000;
    a {
       color: #000000;
        text-decoration: underline;
    }

  .toggleHeader {
    color: #000000; /* Light mode text color */
  }
}

/* Common Styles for both Themes */
.toggleHeader {
  cursor: pointer;
  text-decoration: underline;
  font-size: .85em;
  font-weight: 400;
  &:after {
    content: " [+]";
  }
  &.open:after {
    content: " [-]";
  }
}

#expandableContent {
  display: none;
  transition: max-height 0.3s ease-out;
  overflow: hidden;
  max-height: 0;
  margin-top: -1em;
//  padding: 1em;
  border-radius: 4px;
  box-shadow: none;
  &.open {
    display: block;
    max-height: 1000px; /* Approximate max height */
  }
}

.expandable-content {
  margin-top: 0em;
  padding: 0em;
  border-radius: 4px;
  box-shadow: none;
}

body.dark {
  background-color: #000000;
  color: #ffffff;
}
