body {
  font-family: 'Inter', sans-serif;
  margin: 0;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  &.dark {
    background-color: #121212;
    color: #ffffff;
  }
  
  &.light {
    background-color: #ffffff;
    color: #121212;
    
    a {
       color: #121212;
       text-decoration: underline;
    }

    .toggleHeader {
      color: #121212; // Light mode text color
    }
  }
}

.main {
  margin: 0 auto;
  max-width: 42em;
  box-sizing: border-box;
  text-align: left;
    
      @media only screen and (max-width: 768px) {
    padding: 8em 2em; // adds padding on smaller screens
  }

  @media only screen and (max-width: 480px) {
    padding: 8em 1em; // adds more padding on even smaller screens
  }

  #slide-nav {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 10px;
  }

  .header {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: -2em;
  }

  .logo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    p {
      font-weight: 700;
      font-size: 2em;
      margin-top: -.4em;
        
            @media only screen and (max-width: 768px) {
   font-size: 1.25em;
  }
    }

    #logo {
      max-width: 100%;
      height: auto;
    }
  }

  .nav-button {
    padding: 5px 10px;
    margin: 5px;
    cursor: pointer;
    text-align: center;
    max-width: 150px; // Adjust as needed
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    &.active {
      background-color: #007bff;
      color: white;
    }
  }

  .navbar {
    ul {
      list-style-type: none;
      padding: 0;
    }
    
    li {
      margin-bottom: 10px;
    }
    
    a {
      color: white;
      text-decoration: none;
      
      &:hover {
        text-decoration: underline;
      }
    }
  }

  p {
    line-height: 1.65;
    font-size: .85em;
    margin-top: 1.25em;
  }

  h2, h3, h4, h5, h6 {
    margin-top: 2em;
    margin-bottom: 1em;
  }

  h2 {
    font-size: 1.3em;
    font-weight: 700;
  }

  h3 {
    font-size: 1.1em;
  }

  h4, h5, h6 {
    font-size: 0.85em;
  }

  ul, ol {
    font-size: 0.85em;
    margin-top: 1.25em;
    margin-left: 2em;
  }

  li {
    margin-bottom: 0.5em;
  }

  .scenario {
    font-size: 0.8em;
    margin-top: 1em;
    margin-left: 1em;
    border-left: 3px solid #ccc;
    padding-left: 0.5em;
  }

  hr {
    border: 0;
    height: 1px;
    background: #515151;
    margin-top: 2em;
    margin-bottom: 2em;
  }

  a {
    text-decoration-color: #ffffff;
    color: #ffffff;
  }

  img {
    width: 100%;
  }
}

.toggleHeader {
  cursor: pointer;
  text-decoration: underline;
  font-size: .85em;
  font-weight: 400;
  text-align: left;

  &:after {
    content: " [+]";
  }

  &.open:after {
    content: " [-]";
  }
}

#expandableContent,
.expandable-content {
  margin-top: 0em;
  padding: 0em;
  border-radius: 4px;
  box-shadow: none;
  transition: max-height 0.3s ease-out;
  overflow: hidden;
  max-height: 0;
  
  &.open {
    max-height: 1000px; // Approximate max height
    display: block;
  }
}

#expandableContent {
  margin-top: -1em;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%; // 16:9 Aspect Ratio (9 / 16 = 0.5625)
  height: 0;
  width: 100%; // Set to 100% to fill the container
  max-width: 42em; // Maximum width of the container
  margin: auto; // Center align the container
  
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; // Set to 100% to fill the .video-container
    height: 100%; // Set to 100% to fill the .video-container
  }
}
