/* line 1, /Users/kylemann/Desktop/line/styles.scss */
body {
  font-family: 'Inter', sans-serif;
  font-size: 1.15em;
  width: 100%;
  box-sizing: border-box;
  display: flex; }

/* line 9, /Users/kylemann/Desktop/line/styles.scss */
#slide-nav {
  list-style: none;
  margin: 0;
  padding: 5em 4em 0 0; }

/* line 15, /Users/kylemann/Desktop/line/styles.scss */
.nav-button {
  background: none;
  /* Remove background */
  border: none;
  /* Remove border */
  cursor: pointer;
  padding: 0px;
  margin-bottom: 1em;
  text-align: left;
  font-size: .75em;
  color: lightgray;
  white-space: nowrap; }
  /* line 29, /Users/kylemann/Desktop/line/styles.scss */
  .nav-button.light {
    color: #828282; }
  /* line 32, /Users/kylemann/Desktop/line/styles.scss */
  .nav-button.dark {
    color: #A0A0A0; }

/* line 37, /Users/kylemann/Desktop/line/styles.scss */
.nav-button:hover {
  text-decoration: underline;
  /* Add underline on hover for better UX */
  color: white; }
  /* line 41, /Users/kylemann/Desktop/line/styles.scss */
  .nav-button:hover.light {
    color: #121212; }
  /* line 44, /Users/kylemann/Desktop/line/styles.scss */
  .nav-button:hover.dark {
    color: white; }

/* line 49, /Users/kylemann/Desktop/line/styles.scss */
.nav-button.active {
  font-weight: bold;
  /* Make active button bold */
  text-decoration: underline;
  color: white; }
  /* line 54, /Users/kylemann/Desktop/line/styles.scss */
  .nav-button.active.light {
    color: #121212; }
  /* line 57, /Users/kylemann/Desktop/line/styles.scss */
  .nav-button.active.dark {
    color: #ffffff; }

/* line 63, /Users/kylemann/Desktop/line/styles.scss */
.main {
  padding: 0 4em;
  padding-right: 0;
  margin: 0 auto;
  width: 100%; }
  /* line 69, /Users/kylemann/Desktop/line/styles.scss */
  .main img {
    width: 100%; }
  /* line 72, /Users/kylemann/Desktop/line/styles.scss */
  .main p {
    line-height: 1.5;
    font-size: 1.5em; }

/* iframe styling */
/* line 82, /Users/kylemann/Desktop/line/styles.scss */
.video-container {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 aspect ratio for widescreen videos */
  height: 0;
  overflow: hidden;
  border: 1px solid #222222;
  margin-top: 2em; }

/* line 92, /Users/kylemann/Desktop/line/styles.scss */
.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

/* line 101, /Users/kylemann/Desktop/line/styles.scss */
.slides .slide {
  display: none;
  padding-bottom: 4em;
  width: 100%;
  max-width: 60em; }
  /* line 106, /Users/kylemann/Desktop/line/styles.scss */
  .slides .slide.active {
    display: block; }
  /* line 109, /Users/kylemann/Desktop/line/styles.scss */
  .slides .slide h2 {
    font-size: 2.5em;
    font-weight: 700;
    margin-top: 2em;
    margin-bottom: 1em;
    font-weight: 700;
    text-align: left; }
  /* line 117, /Users/kylemann/Desktop/line/styles.scss */
  .slides .slide h3 {
    font-size: 1.35em;
    margin-top: 1.5em; }
  /* line 121, /Users/kylemann/Desktop/line/styles.scss */
  .slides .slide h4,
  .slides .slide h5,
  .slides .slide h6 {
    font-size: .85em;
    font-weight: 700; }
  /* line 127, /Users/kylemann/Desktop/line/styles.scss */
  .slides .slide ul,
  .slides .slide ol {
    font-size: .85em;
    line-height: 1.5;
    margin-top: 1.25em;
    margin-left: 0em; }
  /* line 134, /Users/kylemann/Desktop/line/styles.scss */
  .slides .slide li {
    margin-bottom: .5em;
    font-size: 1.45em; }

/* line 141, /Users/kylemann/Desktop/line/styles.scss */
.buttons {
  position: fixed;
  bottom: 2em;
  right: 3em;
  z-index: 999;
  text-decoration: none !important; }
  /* line 151, /Users/kylemann/Desktop/line/styles.scss */
  .buttons button {
    font-size: 10.25em;
    padding: .5em .75em;
    border-radius: 0;
    text-decoration: none !important; }

/* line 159, /Users/kylemann/Desktop/line/styles.scss */
#slide1 {
  position: relative;
  height: 100vh;
  max-width: 100%; }
  /* line 163, /Users/kylemann/Desktop/line/styles.scss */
  #slide1 .center-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }
  /* line 170, /Users/kylemann/Desktop/line/styles.scss */
  #slide1 .img-container {
    margin-bottom: 1em; }
  /* line 173, /Users/kylemann/Desktop/line/styles.scss */
  #slide1 p {
    font-size: 1.5em;
    font-weight: 700;
    white-space: nowrap;
    margin-top: -1em; }

/* line 181, /Users/kylemann/Desktop/line/styles.scss */
.slide_logo {
  width: 16em; }

/* Founder Sections */
/* line 189, /Users/kylemann/Desktop/line/styles.scss */
.founders {
  display: flex;
  justify-content: space-evenly; }

/* line 194, /Users/kylemann/Desktop/line/styles.scss */
.founder {
  width: 30%;
  text-align: center;
  padding-top: 2em; }

/* line 201, /Users/kylemann/Desktop/line/styles.scss */
.founder img {
  max-width: 200px;
  max-height: 200px; }

/* line 207, /Users/kylemann/Desktop/line/styles.scss */
.founder-bio {
  font-size: 0.8em !important;
  text-align: center;
  margin-top: 1em; }

/* Adjust the ul and li styles */
/* line 216, /Users/kylemann/Desktop/line/styles.scss */
.founder ul {
  font-size: 1em !important;
  text-align: left;
  /* Align the list items to the left */
  margin-top: .9em;
  /* Add margin to separate the list from the bio */ }

/* line 224, /Users/kylemann/Desktop/line/styles.scss */
.founder ul li {
  font-size: .9em !important;
  /* Adjust the font size for the list */ }

/* line 231, /Users/kylemann/Desktop/line/styles.scss */
body.dark .buttons button {
  background-color: #ffffff;
  color: #121212; }

/* line 236, /Users/kylemann/Desktop/line/styles.scss */
body.light .buttons button {
  background-color: #121212;
  color: #ffffff; }

/* line 241, /Users/kylemann/Desktop/line/styles.scss */
#slideCounter {
  margin-left: 10px;
  /* Or whatever distance you prefer */
  font-size: .75em;
  font-weight: 700; }

/* line 248, /Users/kylemann/Desktop/line/styles.scss */
.theme-toggle-wrapper {
  display: inline-block;
  margin-left: 20px;
  /* Add space between buttons and toggle */ }

/* line 255, /Users/kylemann/Desktop/line/styles.scss */
.theme-icon {
  display: inline-block;
  cursor: pointer;
  margin-right: 10px;
  margin-top: 4px;
  vertical-align: middle; }

/* line 263, /Users/kylemann/Desktop/line/styles.scss */
.theme-icon img {
  width: 24px;
  height: 24px; }

/* line 269, /Users/kylemann/Desktop/line/styles.scss */
body.dark {
  background-color: #121212;
  color: #ffffff; }
  /* line 272, /Users/kylemann/Desktop/line/styles.scss */
  body.dark a {
    color: #ffffff;
    text-decoration-color: #ffffff; }

/* line 279, /Users/kylemann/Desktop/line/styles.scss */
body.light {
  background-color: #ffffff;
  color: #121212; }
  /* line 282, /Users/kylemann/Desktop/line/styles.scss */
  body.light a {
    color: #121212;
    text-decoration: underline; }

/* line 289, /Users/kylemann/Desktop/line/styles.scss */
.toggleHeader,
.buttons button {
  cursor: pointer;
  text-decoration: underline;
  font-size: .85em;
  font-weight: 400; }

/* line 297, /Users/kylemann/Desktop/line/styles.scss */
#contact {
  display: none;
  margin-left: 15px;
  /* adjust as necessary */
  text-decoration: underline;
  color: #0000EE;
  /* standard link color */
  font-size: .85em;
  color: #606060; }

/* line 306, /Users/kylemann/Desktop/line/styles.scss */
#prev.restart {
  background: none;
  border: none;
  padding: 0;
  padding-right: 6px;
  font: inherit;
  text-decoration: underline !important;
  cursor: pointer;
  color: #606060;
  font-size: .85em !important; }

@media only screen and (max-width: 768px) {
  /* line 319, /Users/kylemann/Desktop/line/styles.scss */
  #slide-nav {
    display: none; }
  /* line 323, /Users/kylemann/Desktop/line/styles.scss */
  .main {
    padding: 0 2em;
    padding-right: 3em; }
  /* line 327, /Users/kylemann/Desktop/line/styles.scss */
  #contact {
    display: inline-block; } }

/*# sourceMappingURL=styles.css.map */