/* line 1, /Users/kylemann/Desktop/line/styles.scss */
body {
  font-family: 'Inter', sans-serif;
  font-size: 1.15em;
  width: 100%;
  box-sizing: border-box;
  display: flex; }

/* line 9, /Users/kylemann/Desktop/line/styles.scss */
.nav-button, li.nav-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  margin-bottom: 1em;
  text-align: left;
  font-size: .75em;
  white-space: nowrap; }
  /* line 19, /Users/kylemann/Desktop/line/styles.scss */
  .nav-button:hover, li.nav-button:hover {
    text-decoration: underline; }

/* line 24, /Users/kylemann/Desktop/line/styles.scss */
#slide-nav {
  list-style: none;
  margin: 0;
  padding: 5em 4em 0 0; }

/* line 31, /Users/kylemann/Desktop/line/styles.scss */
body.light .nav-button, body.light li.nav-button {
  color: #828282; }
  /* line 34, /Users/kylemann/Desktop/line/styles.scss */
  body.light .nav-button:hover, body.light li.nav-button:hover {
    color: #121212; }
  /* line 38, /Users/kylemann/Desktop/line/styles.scss */
  body.light .nav-button.active, body.light li.nav-button.active {
    font-weight: bold;
    text-decoration: underline;
    color: #121212; }

/* line 47, /Users/kylemann/Desktop/line/styles.scss */
body.dark .nav-button, body.dark li.nav-button {
  color: #A0A0A0; }
  /* line 50, /Users/kylemann/Desktop/line/styles.scss */
  body.dark .nav-button:hover, body.dark li.nav-button:hover {
    color: white; }
  /* line 54, /Users/kylemann/Desktop/line/styles.scss */
  body.dark .nav-button.active, body.dark li.nav-button.active {
    font-weight: bold;
    text-decoration: underline;
    color: white; }

/* line 64, /Users/kylemann/Desktop/line/styles.scss */
.main {
  padding: 0 4em;
  padding-right: 0;
  margin: 0 auto;
  width: 100%; }
  /* line 71, /Users/kylemann/Desktop/line/styles.scss */
  .main img {
    width: 100%; }
  /* line 75, /Users/kylemann/Desktop/line/styles.scss */
  .main p {
    line-height: 1.5;
    font-size: 1.5em; }

/* iframe styling */
/* line 85, /Users/kylemann/Desktop/line/styles.scss */
.video-container {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 aspect ratio for widescreen videos */
  height: 0;
  overflow: hidden;
  border: 1px solid #222222;
  margin-top: 2em; }

/* line 95, /Users/kylemann/Desktop/line/styles.scss */
.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

/* line 104, /Users/kylemann/Desktop/line/styles.scss */
.slides .slide {
  display: none;
  padding-bottom: 4em;
  width: 100%;
  max-width: 60em; }
  /* line 110, /Users/kylemann/Desktop/line/styles.scss */
  .slides .slide.active {
    display: block; }
  /* line 114, /Users/kylemann/Desktop/line/styles.scss */
  .slides .slide h2 {
    font-size: 2.5em;
    font-weight: 700;
    margin-top: 2em;
    margin-bottom: 1em;
    font-weight: 700;
    text-align: left; }
  /* line 123, /Users/kylemann/Desktop/line/styles.scss */
  .slides .slide h3 {
    font-size: 1.35em;
    margin-top: 1.5em; }
  /* line 128, /Users/kylemann/Desktop/line/styles.scss */
  .slides .slide h4,
  .slides .slide h5,
  .slides .slide h6 {
    font-size: .85em;
    font-weight: 700; }
  /* line 135, /Users/kylemann/Desktop/line/styles.scss */
  .slides .slide ul,
  .slides .slide ol {
    font-size: .85em;
    line-height: 1.5;
    margin-top: 1.25em;
    margin-left: 0em; }
  /* line 143, /Users/kylemann/Desktop/line/styles.scss */
  .slides .slide li {
    margin-bottom: .5em;
    font-size: 1.45em; }

/* line 150, /Users/kylemann/Desktop/line/styles.scss */
.buttons {
  position: fixed;
  bottom: 2em;
  right: 3em;
  z-index: 999;
  text-decoration: none !important; }
  /* line 162, /Users/kylemann/Desktop/line/styles.scss */
  .buttons button {
    font-size: 10.25em;
    padding: .5em .75em;
    border-radius: 0;
    text-decoration: none !important; }

/* line 170, /Users/kylemann/Desktop/line/styles.scss */
#slide1 {
  position: relative;
  height: 100vh;
  max-width: 100%; }
  /* line 175, /Users/kylemann/Desktop/line/styles.scss */
  #slide1 .center-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }
  /* line 183, /Users/kylemann/Desktop/line/styles.scss */
  #slide1 .img-container {
    margin-bottom: 1em; }
  /* line 187, /Users/kylemann/Desktop/line/styles.scss */
  #slide1 p {
    font-size: 1.5em;
    font-weight: 700;
    white-space: nowrap;
    margin-top: -1em; }

/* line 195, /Users/kylemann/Desktop/line/styles.scss */
.slide_logo {
  width: 16em; }

/* mission section */
/* line 201, /Users/kylemann/Desktop/line/styles.scss */
.slide-section {
  margin-top: 4em; }
  /* line 205, /Users/kylemann/Desktop/line/styles.scss */
  .slide-section .inspirational-text,
  .slide-section .empower-text {
    font-size: larger;
    font-weight: bold;
    text-align: center;
    margin: 20px 0; }
  /* line 213, /Users/kylemann/Desktop/line/styles.scss */
  .slide-section .image-container {
    text-align: center;
    margin: 30px 0; }
    /* line 217, /Users/kylemann/Desktop/line/styles.scss */
    .slide-section .image-container img {
      width: 100%;
      height: auto;
      max-width: 28em; }

/* Founder Sections */
/* line 229, /Users/kylemann/Desktop/line/styles.scss */
.founders {
  display: flex;
  justify-content: space-evenly; }

/* line 234, /Users/kylemann/Desktop/line/styles.scss */
.founder {
  width: 30%;
  text-align: center;
  padding-top: 2em; }

/* line 241, /Users/kylemann/Desktop/line/styles.scss */
.founder img {
  max-width: 200px;
  max-height: 200px; }

/* line 247, /Users/kylemann/Desktop/line/styles.scss */
.founder-bio {
  font-size: 0.8em !important;
  text-align: center;
  margin-top: 1em; }

/* Adjust the ul and li styles */
/* line 256, /Users/kylemann/Desktop/line/styles.scss */
.founder ul {
  font-size: 1em !important;
  text-align: left;
  /* Align the list items to the left */
  margin-top: .9em;
  /* Add margin to separate the list from the bio */ }

/* line 264, /Users/kylemann/Desktop/line/styles.scss */
.founder ul li {
  font-size: .9em !important;
  /* Adjust the font size for the list */ }

/* line 271, /Users/kylemann/Desktop/line/styles.scss */
body.dark .buttons button {
  background-color: #ffffff;
  color: #121212; }

/* line 276, /Users/kylemann/Desktop/line/styles.scss */
body.light .buttons button {
  background-color: #121212;
  color: #ffffff; }

/* line 281, /Users/kylemann/Desktop/line/styles.scss */
#slideCounter {
  margin-left: 10px;
  /* Or whatever distance you prefer */
  font-size: .75em;
  font-weight: 700; }

/* line 288, /Users/kylemann/Desktop/line/styles.scss */
.theme-toggle-wrapper {
  display: inline-block;
  margin-left: 20px;
  /* Add space between buttons and toggle */ }

/* line 295, /Users/kylemann/Desktop/line/styles.scss */
.theme-icon {
  display: inline-block;
  cursor: pointer;
  margin-right: 10px;
  margin-top: 4px;
  vertical-align: middle; }

/* line 303, /Users/kylemann/Desktop/line/styles.scss */
.theme-icon img {
  width: 24px;
  height: 24px; }

/* line 309, /Users/kylemann/Desktop/line/styles.scss */
body.dark {
  background-color: #121212;
  color: #ffffff; }
  /* line 313, /Users/kylemann/Desktop/line/styles.scss */
  body.dark a {
    color: #ffffff;
    text-decoration-color: #ffffff; }

/* line 320, /Users/kylemann/Desktop/line/styles.scss */
body.light {
  background-color: #ffffff;
  color: #121212; }
  /* line 324, /Users/kylemann/Desktop/line/styles.scss */
  body.light a {
    color: #121212;
    text-decoration: underline; }

/* line 331, /Users/kylemann/Desktop/line/styles.scss */
.toggleHeader,
.buttons button {
  cursor: pointer;
  text-decoration: underline;
  font-size: .85em;
  font-weight: 400; }

/* line 339, /Users/kylemann/Desktop/line/styles.scss */
#contact {
  display: none;
  margin-left: 15px;
  /* adjust as necessary */
  text-decoration: underline;
  color: #0000EE;
  /* standard link color */
  font-size: .85em;
  color: #606060; }

/* line 350, /Users/kylemann/Desktop/line/styles.scss */
#prev.restart {
  background: none;
  border: none;
  padding: 0;
  padding-right: 6px;
  font: inherit;
  text-decoration: underline !important;
  cursor: pointer;
  color: #606060;
  font-size: .85em !important; }

/* line 365, /Users/kylemann/Desktop/line/styles.scss */
.main {
  padding: 0 4em;
  padding-right: 0;
  margin: 0 auto;
  width: 100%; }
  /* line 372, /Users/kylemann/Desktop/line/styles.scss */
  .main img {
    width: 100%; }
  /* line 376, /Users/kylemann/Desktop/line/styles.scss */
  .main p {
    line-height: 1.5;
    font-size: 1.5em; }

/* iframe styling */
/* line 386, /Users/kylemann/Desktop/line/styles.scss */
.video-container {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 aspect ratio for widescreen videos */
  height: 0;
  overflow: hidden;
  border: 1px solid #222222;
  margin-top: 2em; }

/* line 396, /Users/kylemann/Desktop/line/styles.scss */
.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

/* line 405, /Users/kylemann/Desktop/line/styles.scss */
.slides .slide {
  display: none;
  padding-bottom: 4em;
  width: 100%;
  max-width: 60em; }
  /* line 411, /Users/kylemann/Desktop/line/styles.scss */
  .slides .slide.active {
    display: block; }
  /* line 415, /Users/kylemann/Desktop/line/styles.scss */
  .slides .slide h2 {
    font-size: 2.5em;
    font-weight: 700;
    margin-top: 2em;
    margin-bottom: 1em;
    font-weight: 700;
    text-align: left; }
  /* line 424, /Users/kylemann/Desktop/line/styles.scss */
  .slides .slide h3 {
    font-size: 1.35em;
    margin-top: 1.5em; }
  /* line 429, /Users/kylemann/Desktop/line/styles.scss */
  .slides .slide h4,
  .slides .slide h5,
  .slides .slide h6 {
    font-size: .85em;
    font-weight: 700; }
  /* line 436, /Users/kylemann/Desktop/line/styles.scss */
  .slides .slide ul,
  .slides .slide ol {
    font-size: .85em;
    line-height: 1.5;
    margin-top: 1.25em;
    margin-left: 0em; }
  /* line 444, /Users/kylemann/Desktop/line/styles.scss */
  .slides .slide li {
    margin-bottom: .5em;
    font-size: 1.45em; }

/* line 451, /Users/kylemann/Desktop/line/styles.scss */
.buttons {
  position: fixed;
  bottom: 2em;
  right: 3em;
  z-index: 999;
  text-decoration: none !important; }
  /* line 463, /Users/kylemann/Desktop/line/styles.scss */
  .buttons button {
    font-size: 10.25em;
    padding: .5em .75em;
    border-radius: 0;
    text-decoration: none !important; }

/* line 471, /Users/kylemann/Desktop/line/styles.scss */
#slide1 {
  position: relative;
  height: 100vh;
  max-width: 100%; }
  /* line 476, /Users/kylemann/Desktop/line/styles.scss */
  #slide1 .center-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }
  /* line 484, /Users/kylemann/Desktop/line/styles.scss */
  #slide1 .img-container {
    margin-bottom: 1em; }
  /* line 488, /Users/kylemann/Desktop/line/styles.scss */
  #slide1 p {
    font-size: 1.5em;
    font-weight: 700;
    white-space: nowrap;
    margin-top: -1em; }

/* line 496, /Users/kylemann/Desktop/line/styles.scss */
.slide_logo {
  width: 16em; }

/* mission section */
/* line 502, /Users/kylemann/Desktop/line/styles.scss */
.slide-section {
  margin-top: 4em; }
  /* line 506, /Users/kylemann/Desktop/line/styles.scss */
  .slide-section .inspirational-text,
  .slide-section .empower-text {
    font-size: larger;
    font-weight: bold;
    text-align: center;
    margin: 20px 0; }
  /* line 514, /Users/kylemann/Desktop/line/styles.scss */
  .slide-section .image-container {
    text-align: center;
    margin: 30px 0; }
    /* line 518, /Users/kylemann/Desktop/line/styles.scss */
    .slide-section .image-container img {
      width: 100%;
      height: auto;
      max-width: 28em; }

/* Founder Sections */
/* line 530, /Users/kylemann/Desktop/line/styles.scss */
.founders {
  display: flex;
  justify-content: space-evenly; }

/* line 535, /Users/kylemann/Desktop/line/styles.scss */
.founder {
  width: 30%;
  text-align: center;
  padding-top: 2em; }

/* line 542, /Users/kylemann/Desktop/line/styles.scss */
.founder img {
  max-width: 200px;
  max-height: 200px; }

/* line 548, /Users/kylemann/Desktop/line/styles.scss */
.founder-bio {
  font-size: 0.8em !important;
  text-align: center;
  margin-top: 1em; }

/* Adjust the ul and li styles */
/* line 557, /Users/kylemann/Desktop/line/styles.scss */
.founder ul {
  font-size: 1em !important;
  text-align: left;
  /* Align the list items to the left */
  margin-top: .9em;
  /* Add margin to separate the list from the bio */ }

/* line 565, /Users/kylemann/Desktop/line/styles.scss */
.founder ul li {
  font-size: .9em !important;
  /* Adjust the font size for the list */ }

/* line 572, /Users/kylemann/Desktop/line/styles.scss */
body.dark .buttons button {
  background-color: #ffffff;
  color: #121212; }

/* line 577, /Users/kylemann/Desktop/line/styles.scss */
body.light .buttons button {
  background-color: #121212;
  color: #ffffff; }

/* line 582, /Users/kylemann/Desktop/line/styles.scss */
#slideCounter {
  margin-left: 10px;
  /* Or whatever distance you prefer */
  font-size: .75em;
  font-weight: 700; }

/* line 589, /Users/kylemann/Desktop/line/styles.scss */
.theme-toggle-wrapper {
  display: inline-block;
  margin-left: 20px;
  /* Add space between buttons and toggle */ }

/* line 596, /Users/kylemann/Desktop/line/styles.scss */
.theme-icon {
  display: inline-block;
  cursor: pointer;
  margin-right: 10px;
  margin-top: 4px;
  vertical-align: middle; }

/* line 604, /Users/kylemann/Desktop/line/styles.scss */
.theme-icon img {
  width: 24px;
  height: 24px; }

/* line 610, /Users/kylemann/Desktop/line/styles.scss */
body.dark {
  background-color: #121212;
  color: #ffffff; }
  /* line 614, /Users/kylemann/Desktop/line/styles.scss */
  body.dark a {
    color: #ffffff;
    text-decoration-color: #ffffff; }

/* line 621, /Users/kylemann/Desktop/line/styles.scss */
body.light {
  background-color: #ffffff;
  color: #121212; }
  /* line 625, /Users/kylemann/Desktop/line/styles.scss */
  body.light a {
    color: #121212;
    text-decoration: underline; }

/* line 632, /Users/kylemann/Desktop/line/styles.scss */
.toggleHeader,
.buttons button {
  cursor: pointer;
  text-decoration: underline;
  font-size: .85em;
  font-weight: 400; }

/* line 640, /Users/kylemann/Desktop/line/styles.scss */
#contact {
  display: none;
  margin-left: 15px;
  /* adjust as necessary */
  text-decoration: underline;
  color: #0000EE;
  /* standard link color */
  font-size: .85em;
  color: #606060; }

/* line 651, /Users/kylemann/Desktop/line/styles.scss */
#prev.restart {
  background: none;
  border: none;
  padding: 0;
  padding-right: 6px;
  font: inherit;
  text-decoration: underline !important;
  cursor: pointer;
  color: #606060;
  font-size: .85em !important; }

@media only screen and (max-width: 768px) {
  /* line 664, /Users/kylemann/Desktop/line/styles.scss */
  #slide-nav {
    display: none; }
    /* line 667, /Users/kylemann/Desktop/line/styles.scss */
    #slide-nav.light {
      color: #121212; }
    /* line 671, /Users/kylemann/Desktop/line/styles.scss */
    #slide-nav.dark {
      color: #ffffff; }
  /* line 677, /Users/kylemann/Desktop/line/styles.scss */
  .main {
    padding: 0 2em;
    padding-right: 3em; }
  /* line 682, /Users/kylemann/Desktop/line/styles.scss */
  #contact {
    display: inline-block; } }

/*# sourceMappingURL=styles.css.map */